body{
  background-color: rgb(245,245,245);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

canvas {
  margin: 10px;
}

#info {
  position: absolute;
  top: 0;
  left: 650px;
  margin: 20px;
  z-index: -1;

}
